@media screen and (min-width: 751px){
		.pricing-table-list li{
	margin-left: -12%;
	width: 111%;
}
}
@media screen and (max-width: 750px){
	.pricing-table-list li{
	margin-left: -12%;
	width: 111%;
}
body{
 background: white;
}
	.pricing-table{
		width: 72%;
		margin-bottom: 20px;
	}

	.pricing-wrap{
		justify-content: center;
	}

	.pricing-table:hover{
		transform: scale(1.0) ;
	}
}

@media screen and (max-width: 500px){
	.pricing-table-list li{
	margin-left: -12%;
	width: 111%;
}
body{
    background: white;
}
	.pricing-table{
		width: 90%;
	}
}
